<%= render partial: 'spree/admin/shared/secondary_carousel_tabs', locals: {current: :secondary_carousel_items} %>

<h2 style="font-size: 20px;"><%= Spree.t(:editing_secondary_carousel_item) %></h2>

<%= form_for [:admin, @secondary_carousel, @secondary_carousel_item], html: {multipart: true} do |f| %>
    <fieldset data-hook="edit_secondary_carousel_item">
      <%= render partial: 'form', locals: {f: f} %>
      <%= render partial: 'spree/admin/shared/edit_resource_links', locals: {collection_url: spree.admin_secondary_carousel_secondary_carousel_items_url(@secondary_carousel) } %>
    </fieldset>
<% end %>
