<%= render partial: 'spree/admin/shared/error_messages', locals: {target: @secondary_carousel} %>

<% content_for :page_title do %>
    <%= Spree.t(:new_secondary_carousel) %>
<% end %>

<%= form_for [:admin, @secondary_carousel] do |f| %>
    <fieldset data-hook="new_secondary_carousel">
      <%= render partial: 'form', locals: {f: f} %>
      <div class="form-actions">
        <%= render partial: 'spree/admin/shared/new_resource_links' %>
      </div>
    </fieldset>
<% end %>
