<% unless @secondary_carousel.nil? %>
    <div class="row">
      <div class="col-lg-12 owl-outer collections">

        <h3><%= @secondary_carousel.title %></h3>

        <div class="hidden-xs">
          <img class="left-arrow" src="../images/more-next-light.png" width="30px">
        </div>

        <div class="hero-collections owl-carousel" id="owl-home-hero">
            <% @secondary_carousel.secondary_carousel_items.each do |item| %>
              <% if item.active %>
                <div class="slide-item">
                  <div class="slide-img">
                    <a href="<%= item.link %>"><%= image_tag item.image.url(:standard) %></a>
                    <div class="title">
                        <span><a href="<%= item.link %>"><%= item.label %></a></span>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>

        <div class="hidden-xs">
          <img class="right-arrow" src="../images/more-next-light.png" width="30px">
        </div>

      </div>
    </div>

    <script type="text/javascript">
        $('.hero-collections').owlCarousel({
            itemsTablet : [768,3],
            itemsMobile : [479,2],
            itemsDesktop : [1200,5],
            itemsDesktopSmall : [988,4],
            items : 6
        });

        $('.right-arrow').click(function(){
            $('.hero-collections').trigger('owl.next');
        });

        $('.left-arrow').click(function(){
            $('.hero-collections').trigger('owl.prev');
        });

        $('.hero-collections .owl-pagination').addClass('visible-xs');
        $('.hero-collections .owl-theme.owl-controls').addClass('visible-xs');
    </script>
<% end %>
